.login_div {
   
    border-radius: 40px;
background: #bcecea;
box-shadow:  6px -6px 5px #090c0c,
             -6px 6px 5px #024953;
}



.Login {
    background: url(/src/assets/images/84110.jpg);

}

.Login_button {
    background-color: rgba(21, 21, 193, 0.107);

}