
/* .Banner{
    background: url(/src/assets/images/imgAfruza/202978.webp);
    border-radius: 10px;

} */
.Banner{
    background: url(../../assets/images/imgAfruza/Untitled\ design.jpg);
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    
   

}

.CoverLetterBanner{
    background: url(/src/assets/images/imgAfruza/New\ Project.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

}
.Banner_button{
    background-color: rgba(12, 202, 206, 0.107);
   
 }
 
 .Banner_button:hover{
     background-color: wheat;
     color: black;
     border: 1px solid rgb(15, 15, 15);
 }
.TemplateImage{
    height: 600px;
}
.TemplateImage:hover{
    overflow: hidden;
    height: 600px;
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
    cursor: pointer;
}


.CoverLetterBtn{
    background-color: rgb(95, 12, 228);
    border: none;
}

.CoverLetterBtn:hover{
    background-color: rgb(228, 12, 181);
    border: none;  
}

