
.Banner{
    background: url(/src/assets/images/202978.webp);
    border-radius: 10px;

}
.Banner_button{
    background-color: rgba(5, 5, 74, 0.107);
   
 }
 
 .Banner_button:hover{
     background-color: wheat;
     color: black;
     border: 1px solid rgb(15, 15, 15);
 }