.contact-form {
  display: flex;
  height: 50vh;
  margin-top: 4rem;
 justify-content:space-evenly;
 
  padding-top: 2rem;
}
.awesome > span:nth-child(1) {
  color: rgb(3, 230, 211);
  font-size: 2.9rem;
  font-weight: 700;
  margin-left: 5rem;
}
.awesome > span:nth-child(3) {
  color: rgb(26, 22, 22);
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 5rem;
}
.awesome>img{
padding-left: 9rem;
padding-top: 0.5rem;
}

.c-right {
  display: flex;
  justify-content: center;
  position: relative;

}

.c-right > form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.c-right .useri {
  width: 25rem;
  height: 2rem;
  padding: 0.3em;
  outline: none;
  border: 2px solid rgb(68, 217, 243);
  border-radius: 12px;
  font-size: 16px;
}

textarea {
  width: 25rem !important;
  min-height: 4rem;
}



/* button */




.button {
  align-items: center;
  background-image: linear-gradient(144deg,#18e999, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 22px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.3em;
  
  max-width: 100%;
  min-width: 140px;
  padding:13px;
  padding-top: 15px;
  padding-bottom: 8px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
  background-color: rgb(5, 6, 45);
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button {
    font-size: 24px;
    min-width: 196px;
  }
}

@media screen and (max-width: 780px) {
  .contact-form {
    padding: 0;
    flex-direction: column;
    gap: 4rem;
    height: 40rem;
  }
  .w-left {
    text-align: center;
    font-size: larger;
  }
  .c-right > .useri {
    width: 18rem;
  }
}
