.google-img {
    width: 12rem !important;
    height: 8rem !important;
}

.amazon-img {
    width: 13rem !important;
    height: 8rem !important;
}

.walmart-img {
    width: 14rem !important;
    height: 8rem !important;
}

.whatsapp-img {
    width: 5rem !important;
    height: 5rem !important;
}

.pathao-img {
    width: 12rem !important;
    height: 8rem !important;
}

.microsoft-png {
    width: 12rem !important;
    height: 8rem !important;
    padding-top: 12px;
}

.walton-img {
    width: 12rem !important;
    height: 8rem !important;
}

.air-img {
    width: 4rem !important;
    height: 8rem !important;
}